<!-- Slide Menu -->
<aside class="side-menu_container" [ngClass]="{'side-menu_container-active':showMenu}" (click)="toggleMenu()">
  <nav class="slide-menu" [ngClass]="{'slide-menu-active':showMenu}" (click)="$event.stopImmediatePropagation();">
    <section class="menu-header">
      <span class="greeting_text">Welcome Back</span>
      <div class="profile-image_container">
        <img src="https://avatars2.githubusercontent.com/u/38576325?s=460&v=4" alt="profile-image"
          class="profile_image" />
      </div>
      <div class="account-detials">
        <span class="name_text">zihuahuahua</span>
        <span class="email_text">839711063@qq.com</span>
      </div>
    </section>
    <section class="menu-body"></section>
    <section class="menu-footer"></section>
  </nav>
</aside>

<div class="root_container">
  <header [ngClass]="{'main_header-dark':darkModeActive}" class="main_header">
    <div class="left_section">
      <svg (click)="toggleMenu()" class="hamburger_icon" id="Menu_Burger_Icon" data-name="Menu Burger Icon"
        viewBox="31.5 30 49.9 32">
        <defs>
          <style>
            .hamburger__icon__fill {
              fill: #594e78
            }
          </style>
        </defs>
        <rect id="Rectangle_9" width="49.9" height="4" class="hamburger_icon_fill" data-name="Rectangle 9" rx="2"
          transform="translate(31.5 58)" />
        <rect id="Rectangle_10" width="49.9" height="4" class="hamburger_icon_fill" data-name="Rectangle 10" rx="2"
          transform="translate(31.5 44)" />
        <rect id="Rectangle_11" width="49.9" height="4" class="hamburger_icon_fill" data-name="Rectangle 11" rx="2"
          transform="translate(31.5 30)" />
      </svg>
      <svg class="logo_icon" viewBox="150.3 22.2 213.7 42.8">
        <path fill="#00ff9b" d="M150.3 65V22.2L193 65z" data-name="Path 1" />
        <path fill="#003eff" d="M193.1 65h-42.8L193 22.2z" data-name="Path 2" />
        <text class="logo_text" fill="#432c85" font-family="SegoeUI-Semibold,Segoe UI" font-size="30" font-weight="600"
          letter-spacing=".1em" transform="translate(237 56)">
          <tspan x="0" y="0">Minimis</tspan>
        </text>
      </svg>
    </div>
    <h3 class="date_text">Today</h3>

    <div class="mode-toggle_container">
      <span class="mode-toggle_text">Light</span>

      <label class="toggle-button_container">
        <input (click)="modeToggleSwitch()" type="checkbox" class="mode-toggle_input" />
        <span [ngClass]="{'mode-toggle_bg-checked': darkModeActive}" class="mode-toggle_bg"></span>
        <span [ngClass]="{'mode-toggle_circle-checked': darkModeActive}" class="mode-toggle_circle"></span>
      </label>

      <span class="mode-toggle_text">Dark</span>
    </div>
  </header>

  <!-- Main Content -->
  <main class="main_container">
    <div class="main-container_bg" [ngClass]="{'main-container_bg-dark': darkModeActive}"></div>
    <router-outlet></router-outlet>
  </main>

  <!-- Footer -->
  <footer class="main_footer">
    <small class="copyright_text">Copyright © 2019 </small>
  </footer>
</div>